 @page "/about"
 <div class="working-process-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8  col-md-6">
                    <div class="working-process">
                        <ul class="working-process-list">
                            <li>
                                <div class="working-process-step">
                                    <h4>Blockchain Company Overview</h4>
                                    <div class="process-details">
                                        <p>
                                            Finlexis is for ones who learn and grow, solving fascinating puzzles of emerging technology every day. If you want to find a worthy challenge for your skills or kickstart your career in blockchain - Finlexis is the place to go. Finlexis Wallet aims to build a functional products for crypto users, that will provide fulfilling and versatile experience in the world of rapidly developing global financial systems. We believe, that by developing an intuitive and versatile products we help to ease entry barriers to crypto for users and bring the mass adoption of new financial instruments closer.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>