@page "/careers"
<div class="working-process-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8  col-md-6">
                    <div class="working-process">
                        <ul class="working-process-list">
                            <li>
                                <div class="working-process-step">
                                    <h4>Jobs & Careers</h4>
                                    <div class="process-details">
                                        <p>
                                            If you consider being a part of Finlexis wallet, submit your resume to <a href="mailto: support@finlexiswallet.com">support@finlexiswallet.com</a>. We will let you know whenever we start hiring.
                                            Finlexis wallet has open salaries - no company secrets. Trust and transparency carry on from the blockchain to our team. All our positions are 100% remote careers – work from anywhere in the world. We offer our employees hardware and software of their choice, and equipment for their remote offices. All salaries are paid in Bitcoin (BTC). Experience the financial revolution from the front seats.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>