  @page "/contact"
   <div class="contact-form-section">
        <div class="container">
            <div class="contact-info-outer">
                <div class="contact-info-wrap">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div style="overflow:hidden;max-width:100%;width:500px;height:500px;"><div id="embeddedmap-display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=helsinki&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="embeddedmap-code" rel="nofollow" href="https://www.embed-map.com/" id="enablemap-data">https://www.embed-map.com</a><style>#embeddedmap-display img{max-width:none!important;background:none!important;font-size: inherit;font-weight:inherit;}</style></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row" style="margin-top: 50px">
                                <div class="contact-info-block">
                                    <div class="contact-info-inner">
                                        <h4>Contact Info</h4>
                                        <ul class="contact-info-list">
                                            <li>
                                                <img src="assets/images/others/25.png" alt="img" class="img-responsive">
                                                <p>
                                                    Helsinki, Finland
                                                </p>
                                            </li>
                                            <li>
                                                <img src="assets/images/others/26.png" alt="img" class="img-responsive">
                                                <p>
                                                    <a href="mailto: support@finlexiswallet.com">[email&#160;protected]</a>
                                                    <br><a href="mailto: info@Finlexiswallet.com">[email&#160;protected]</a>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>