@page "/faq"
    <div class="faq-section">
        <div class="container">
            <div class="row">
                <div class="offset-lg-1 col-lg-7 col-md-7">
                    <div class="tab-content style-2" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                            <h4>General</h4>
                            <div class="accordion style-2" id="accordion1Faq">
                                <div class="accordion-item">
                                    <div class="accordion-header" id="heading1One">
                                        <h5 class="mb-0">
                                            <button type="button" data-toggle="collapse" data-target="#collapse1One" aria-expanded="true" aria-controls="collapse1One">
                                                Does Finlexis have fees to send or receive?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse1One" class="collapse show" aria-labelledby="heading1One" data-parent="#accordion1Faq">
                                        <div class="accordion-body">
                                            Almost all blockchain transactions incur network or miner fees (with a few exceptions). Other than the fees that go to the network, Finlexis does not charge fees for sending or receiving.
                                            Unlike exchange platforms, Finlexis does not keep any of the transaction fees charged for withdrawing bitcoin (BTC), Ethereum (ETH) or any other cryptocurrency
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="heading1Two">
                                        <h5 class="mb-0">
                                            <button class="collapsed" type="button" data-toggle="collapse" data-target="#collapse1Two" aria-expanded="false" aria-controls="collapse1Two">
                                                Will Finlexis support more assets in the future?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse1Two" class="collapse" aria-labelledby="heading1Two" data-parent="#accordion1Faq">
                                        <div class="accordion-body">
                                            Finlexis is a top-rated desktop and mobile cryptocurrency wallet. Will Finlexis support more blockchain assets in the future?
                                            The Finlexis development team is always striving to add more assets to your wallet. Our goal is to allow people to manage and exchange all their favorite cryptocurrencies from a single place.
                                            We receive countless requests for different cryptocurrencies, but we only have so many developers! As a result, we choose with care which assets we want to integrate next, as we need to make sure our limited resources are spent where we can impact our community the most.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="heading1Three">
                                        <h5 class="mb-0">
                                            <button class="collapsed" type="button" data-toggle="collapse" data-target="#collapse1Three" aria-expanded="false" aria-controls="collapse1Three">
                                                What happens if my computer crashes, is lost, or stolen?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse1Three" class="collapse" aria-labelledby="heading1Three" data-parent="#accordion1Faq">
                                        <div class="accordion-body">
                                            Are you wondering how you will regain access to your wallet if your computer breaks, is lost, or is stolen? If so, then you've come to the right place! We love to see that you are planning ahead and are considering all possibilities. The good news is, as long as you have your password, you'll always be able to restore access to your funds.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="heading1Four">
                                        <h5 class="mb-0">
                                            <button class="collapsed" type="button" data-toggle="collapse" data-target="#collapse1Four" aria-expanded="false" aria-controls="collapse1Four">
                                                What information does Finlexis have access to?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse1Four" class="collapse" aria-labelledby="heading1Four" data-parent="#accordion1Faq">
                                        <div class="accordion-body">
                                            Finlexis staff does not have access to your wallet nor private information.
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header" id="heading1Five">
                                        <h5 class="mb-0">
                                            <button class="collapsed" type="button" data-toggle="collapse" data-target="#collapse1Five" aria-expanded="false" aria-controls="collapse1Five">
                                                One who avoids a pain that produces no?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse1Five" class="collapse" aria-labelledby="heading1Five" data-parent="#accordion1Faq">
                                        <div class="accordion-body">
                                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                            <h4>Pricing</h4>
                            <div class="accordion style-2" id="accordion2Faq">
                                <div class="accordion-item">
                                    <div class="accordion-header" id="heading2One">
                                        <h5 class="mb-0">
                                            <button type="button" data-toggle="collapse" data-target="#collapse2One" aria-expanded="true" aria-controls="collapse2One">
                                                Do I control my own wallet?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapse2One" class="collapse show" aria-labelledby="heading2One" data-parent="#accordion2Faq">
                                        <div class="accordion-body">
                                            Finlexis believes in an individual's right to privacy and full control of their funds. We've incorporated these principles into our technical design choices for Finlexis.
                                            Unlike your bank account or stock portfolio, this is what is referred to as custodial access with counterparty risk. Finlexis (the company) doesn't actually hold any assets on your behalf. Finlexis is non-custodial wallet with no counterparty risk.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div