@page "/services"

    <div class="activity-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="activity-block">
                        <img src="assets/images/others/32.png" style="height: 50px;" alt="img" class="img-responsive"/>
                        <h4>
                            Advanced Hardware Security
                        </h4>
                        <p>
                            Advanced security for your cryptocurrency. Your private keys are encrypted and never leave your device. You fully control your funds. Assets stay securely offline on Trezor hardware.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="activity-block">
                        <img src="assets/images/others/33.png" style="height: 50px;" alt="img" class="img-responsive"/>
                        <h4>
                            Friendly and Easy to Use
                        </h4>
                        <p>
                            Finlexis is designed for people who have never used a bitcoin wallet. Ready to accept and store Bitcoin? Finlexis hides the complex details while assets are exchanged behind the scenes in seconds.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="activity-block">
                        <img src="assets/images/others/34.png" style="height: 50px;" alt="img" class="img-responsive"/>
                        <h4>
                            24/7 Live Support
                        </h4>
                        <p>
                            We won't leave you out on your own. Finlexis provides an online help desk and 24/7 customer support to get your questions answered, fast. Our support is always ready to help you. Get quick and efficient response via live chat or email.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="activity-block">
                        <img src="assets/images/others/35.png" style="height: 50px;" alt="img" class="img-responsive"/>
                        <h4>
                            Scalable cloud blockchain
                        </h4>
                        <p>
                            Our indefinitely scalable cloud node network is solving one of the most limiting and long-due issues of the blockchain technology without compromise. You can secure your funds with easy backups and multi-sig.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- activity-section -->
    <div class="counter-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="counter-block">
                        <h3>20m</h3>
                        <p>Worldwide potential clients</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter-block">
                        <h3>100x</h3>
                        <p>Faster transaction</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter-block">
                        <h3>$90B+</h3>
                        <p>Digital currency stored</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter-block">
                        <h3>8x</h3>
                        <p>Lower transaction fees</p>
                    </div>
                </div>
            </div>
        </div>
    </div>