<p style="font-size: 2rem; font-weight: bold; padding: 0; margin: 0; color: white; line-height:2rem; margin-top: 10px;">
    FINLEXIS
</p>
<p style="margin: 0; padding: 0; text-align: center; font-size: 0.7rem; -webkit-text-stroke-width: thick; color : #797979 !important;">The worlds
    leading crypto wallet</p>