<div class="container">
        <div class="row">
            <div class="col">
                <div class="subheader-wrapper">
                    <h3 style="color: #fff">About Us</h3>
                    <p style="color: #fff">
                        Finlexis wallet was made to meet the demands of both beginner and advanced users, it combines a high level of security and complete anonymity together with a simple, yet eye-catching interface.
                    </p>
                </div>
            </div>
        </div>
    </div>