        <div class="container">
        <div class="row">
            <div class="col">
                <div class="subheader-wrapper">
                    <h3 style="color: #fff">Frequently Asked Questions</h3>
                    <p style="color: #fff">
                        Our main goal is to bring millions of new investors to crypto by eliminating all fiat obstacles on the way to crypto.
                    </p>
                </div>
            </div>
        </div>
    </div>
