    
    <header id="header" class="u-header u-header--full-container u-header--abs-top u-header--bg-transparent" >
        <div class="u-header__section" >
            <div id="logoAndNav" class="container-fluid">
            </div>
        </div>
    </header>