<!-- Links -->
<link rel='stylesheet' id='wp-block-library-css' href='stylesheets/style.min9dff.css' type='text/css' media='all' />


<link rel='stylesheet' id='wp-block-library-theme-css' href='stylesheets/theme.min9dff.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='wc-block-style-css' href='stylesheets/stylee64e.css' type='text/css' media='all' />
<link rel='stylesheet' id='mpp_gutenberg-css' href='stylesheets/blocks.style.build5f5a.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='ugb-style-css-css' href='stylesheets/frontend_blocksce14.css' type='text/css' media='all' />
<link rel='stylesheet' id='menu-image-css' href='stylesheets/menu-image76ed.css' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css' href='stylesheets/stylesb62d.css' type='text/css' media='all' />
<link rel='stylesheet' id='select2-css' href='stylesheets/select22e46.css' type='text/css' media='all' />

<link rel='stylesheet' id='dashicons-css' href='stylesheets/dashicons.min9dff.css' type='text/css' media='all' />

<link rel='stylesheet' id='mas-wp-job-manager-company-reviews-css'
    href='stylesheets/mas-wp-job-manager-company-reviews9dff.css' type='text/css' media='all' />
<link rel='stylesheet' id='wc-gateway-ppec-frontend-css' href='stylesheets/wc-gateway-ppec-frontend9dff.css'
    type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce_prettyPhoto_css-css' href='stylesheets/prettyphoto9dff.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='jquery-selectBox-css' href='stylesheets/jquery.selectbox7359.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='yith-wcwl-font-awesome-css' href='stylesheets/font-awesome.min1849.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='wp-job-manager-applications-frontend-css' href='stylesheets/frontend9dff.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='fontawesome-css' href='stylesheets/fontawesome-all.mince14.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='animate-css' href='stylesheets/animate.mince14.css' type='text/css' media='all' />
<link rel='stylesheet' id='megamenu-css' href='stylesheets/hs.megamenuce14.css' type='text/css' media='all' />
<link rel='stylesheet' id='jquery-mCustomScrollbar-css' href='stylesheets/jquery.mcustomscrollbarce14.css'
    type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-select-css' href='stylesheets/bootstrap-select.mince14.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='bootstrap-tagsinput-css' href='stylesheets/bootstrap-tagsinputce14.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='jquery-fancybox-css' href='stylesheets/jquery.fancyboxce14.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='dzsparallaxer-css' href='stylesheets/dzsparallaxerce14.css' type='text/css' media='all' />
<link rel='stylesheet' id='slick-carousel-css' href='stylesheets/slickce14.css' type='text/css' media='all' />
<link rel='stylesheet' id='ion-rangeslider-css' href='stylesheets/ion.rangesliderce14.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='custombox-css' href='stylesheets/custombox.mince14.css' type='text/css' media='all' />
<link rel='stylesheet' id='bg-video-css' href='stylesheets/hs-bg-videoce14.css' type='text/css' media='all' />
<link rel='stylesheet' id='cubeportfolio-css' href='stylesheets/cubeportfolio.mince14.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='chartist-css' href='stylesheets/chartist.mince14.css' type='text/css' media='all' />
<link rel='stylesheet' id='chartist-tooltip-css' href='stylesheets/chartist-plugin-tooltipce14.css' type='text/css'
    media='all' />

<link rel='stylesheet' id='front-style-css' href='stylesheets/stylece14.css' type='text/css' media='all' />
<link rel='stylesheet' id='front-color-css' href='stylesheets/bluece14.css' type='text/css' media='all' />
<link rel='stylesheet' id='front-woocommerce-style-css' href='stylesheets/woocommercece14.css' type='text/css'
    media='all' />

@* <link rel='stylesheet' id='front-wp-job-manager-style-css' href='stylesheets/wp-job-managerce14.css' type='text/css'
    media='all' /> *@
<link rel='stylesheet' id='front-fonts-css'
    href='//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&amp;subset=latin%2Clatin-ext' type='text/css'
    media='all' />
<link rel='stylesheet' id='jetpack_css-css' href='stylesheets/jetpackf200.css' type='text/css' media='all' />
<!-- End Links -->

@inherits LayoutComponentBase

<div id="page" class="hfeed site">
    <AuthNav />
</div>
<main id="content" role="main" style="background: url('assets/images/bg/0.png');background-size: contain;">
    @Body
</main>
<!-- Footer -->