@using System.Security.Claims
@using Client.Components.Banners
@inherits LayoutComponentBase
@inject NavigationManager nav



<div class="main" style="background-color: white !important;">
    <div class="banner-block" style="padding-left: 0 !important; padding-right: 0 !important;">
        <MainNavMenu />
        <Banner Page="@(nav.ToBaseRelativePath(nav.Uri))" />
    </div>
    <div class="content px-4">
        @Body
    </div>
    <MainFooter />
</div>


