@using Client.Components
<div class="colto-section">
    <div class="container">
        <div class="">
            <div class="colto-content">
                <h3>Getting started</h3>
                <p>Powerful crypto asset management tools readily available for use</p>
            </div>
            <div class="colto-btn-group">
                <NavLink class="btn callto-btn" href="login">
                    Log In
                </NavLink>
                <span>or</span>
                <NavLink class="btn callto-btn" href="register">
                    Create Wallet
                </NavLink>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="footer-upper-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="footer-logo">
                        <a href="">
                            <Logo/>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="footer-info-list">
                        <h4>Company</h4>
                        <ul>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="about">
                                    About
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="services">
                                    Services
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="contact">
                                    Contact Us
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="wallet">
                                    Wallet
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="footer-info-list">
                        <h4>Learn</h4>
                        <ul>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="faq">
                                    Faq
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="careers">
                                    Careers
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="terms">
                                    Terms
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="privacy">
                                    Privacy
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="footer-info-list">
                        <h4>Contact</h4>
                        <ul class="contact-info">
                            <li>Email: <span><a href="mailto: support@finlexiswallet.com" class="__cf_email__"
                                        data-cfemail="bed7d0d8d190dbc6ddd1d7d0fed9d3dfd7d290ddd1d3">[email&#160;protected]</a></span>
                            </li>
                            <li>
                                <div id="google_translate_element"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-wrap">
                <div class="copyright-text">
                    © 2018 <a href="#">Finlexis</a>. All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</footer>