            <!-- footer @s  -->
            <div class="nk-footer nk-footer-fluid" style="background-color: #36454F !important;">
                <div class="container-fluid">
                    <div class="nk-footer-wrap">
                        <div class="nk-footer-copyright"> &copy; 2020 Finlexis. All rights reserved
                        </div>
                        <div class="nk-footer-links">
                            <div id="google_translate_element"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer @e  -->