<!-- sidebar @e  -->
<div class="nk-sidebar nk-sidebar-fixed " data-content="sidebarMenu" style="background-color: #36454F !important;">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-sidebar-brand">
            
        </div>

    </div><!-- .nk-sidebar-element -->
    
    ><!-- .nk-sidebar-element -->
</div>
<!-- sidebar @e  -->

@code
{
    [Inject]
    public NavigationManager NavigationManager { get; set; }
    [Inject]
    public ModelManager ModelManager { get; set; }

    public string ActiveMenu(string link)
    {
        string url = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        return url.Contains(link) ? "active" : string.Empty;
    }

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
        await base.OnInitializedAsync();
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }
}