@inherits DappComponent

<!-- content @s  -->

    <div class="container-xl wide-lg">
        <div class="nk-content-body">
            <div class="buysell wide-sm m-auto">
                <!-- .buysell-nav -->
                <div class="buysell-title text-center">
                    <h2 class="title">Scan QR Code to connect to auto trade</h2>
                </div><!-- .buysell-title -->
                <div class="buysell-block">
                    <div class="row g-2">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <img width="100%" height="250px"
                                src="https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl=dapp:auto trade connector?"
                                alt="">
                        </div><!-- .col -->
                        <div class="col-sm-4"></div>
                        <div class="col-sm-12">
                            <div class="alert alert-success">
                                <div class="alert-cta flex-wrap flex-md-nowrap">
                                    <div class="alert-text">
                                        <p>Connection in progress. If your wallet fails to connect automatically please
                                            scan the qrcode above. You will receive a mail once your connection has been
                                            approved.</p>
                                    </div>
                                </div>
                            </div><!-- .alert -->
                        </div>
                    </div><!-- .row -->
                </div><!-- .buysell-block -->
            </div><!-- .buysell -->
        </div>
    </div>

<!-- content @e  -->